$primary-color: #36a447;

/** Add a few CSS standarizations */

html,
body {
  min-height: 100vh;
}

body,
.vertical-flex {
  display: flex;
  flex-direction: column;
}

main,
.flex-grow {
  flex: 1 0 auto;
}

a:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

#ornl-logo {
  min-width: 200px;
}

/* static text */

.static-text a,
a:visited {
  /* color: #007833; */
  text-decoration: underline
}

.static-text .nav-button {
    background-color: $primary-color;
    text-decoration: none;
  }
  
.static-text a:hover {
  text-decoration: underline;
}

/* FlexBox configuration */

.flex-container {
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container-category {
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .flex-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .flex-item {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .flex-item {
    width: 30%;
  }
}

.flex-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

.flex-item:hover {
  border: 1px solid $primary-color;
  box-shadow: 3px 3px #ddd;
}

.flex-item h3 {
  background-color: #f5f5f5;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.flex-item:hover h3 {
  background-color: #d8ecf3;
}

.flex-item p {
  margin: 10px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-item p:last-child {
  align-self: flex-end;
}

.flex-item a {
  /* Don't decorate links in repo items */
  color: inherit;
  text-decoration: none;
}

.flex-item h3 > small {
  /* Display of news post date and tag */
  border-left: 1px solid #777;
  padding-left: 5px;
}

/* --- */

#repositories p.stats > a {
  margin-left: 15px;
}

#repositories p.stats > a:last-child {
  margin-right: 15px;
}

/* links for each repo in a category */
#categories p.links {
  text-align: right;
  align-items: center;
  line-height: 2.5;
}

/* Org logo */
#categories p.links > span:first-child {
  margin-left: 15%;
  margin-right: 10px;
  float: left;
}

/* repo name */
#categories p.links > span:nth-child(2) {
  float: left;
  font-weight: bold;
  font-size: 1.6rem;
}

/* repo stars */
#categories p.links > span:nth-child(3) {
  margin-right: 5px;
}

/* repo info */
#categories p.links > span:last-child {
  margin-right: 15%;
}

/* GitHub fork ribbon */
/*   based on https://codepo8.github.io/css-fork-on-github-ribbon/ */
#forkongithub {
  /* hide if window is smaller than threshold */
  display: none;
}
@media screen and (min-width: 800px) {
  #forkongithub {
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 138px;
    overflow: hidden;
    height: 138px;
    z-index: 9999;
  }
  #forkongithub a {
    pointer-events: all;
    background: $primary-color;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1.2rem;
    line-height: 1rem;
    width: 200px;
    position: absolute;
    top: 40px;
    right: -45px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  #forkongithub a:hover {
    background: #007833;
    color: #ffffff;
  }
  #forkongithub a::before,
  #forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
  }
  #forkongithub a::after {
    bottom: 1px;
    top: auto;
  }
}

/* Navbar */
.navbar-header a.navbar-brand {
  color: #007833;
  font-weight: bold;
  text-decoration: none;
}

.navbar a.navbar-normal {
  color: #007833;
  text-decoration: none;
}

.navbar a.navbar-normal:hover {
  color: #009bab;
  text-decoration: none;
}

.navbar {
  padding: 1.5rem;
  margin-bottom: 0;
  text-decoration: none;
}

.navbar .container {
  position: relative;
}

.navbar-right {
  margin-right: 15px; /* Don't let "fork me" banner cover the last element */
}

/* Dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  padding: 5px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .dropdown-content {
    visibility: hidden;
    text-decoration: none;
  }
}

.dropdown:hover .dropdown-content {
  z-index: 999;
  display: block;
}

@media (max-width: 767px) {
  .flex-category {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .flex-category {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .flex-category {
    width: 33%;
  }
}

.flex-category {
  margin-bottom: 30px;
  transition: 0.3s;
  align-items: center;
}

.dynamic:hover {
  border: 1px solid $primary-color;
  box-shadow: 3px 3px #ddd;
}

.dynamic-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamic-link > h2 {
  margin-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.flex-category > p {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.flex-category a {
  /* Don't decorate links in repo items */
  color: inherit;
  text-decoration: none;
}

.flex-category a:hover {
  /* Don't decorate links in repo items */
  color: #777;
  text-decoration: none;
}

.more {
  float: right;
  font-weight: bold;
  margin-right: 60px;
  margin-bottom: 20px;
  transition: 0.3s;
  font-size: 1.3rem;
}

.page-title {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

[ng-click] {
  cursor: pointer;
}

#banner-img {
  display: block;
  width: 100%;
  height: 300px;
  max-height: 33vh;
  filter: brightness(75%);
  background-image: url("../assets/images/banner.jpg");
  background-repeat: round;
}

#banner-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
  h1 {
    color: #f8f8f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 7vw;
    margin: 0;
  }
}

.wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.main {
  width: 100%;
}

.page {
  justify-content: center;
  height: 100%;
}

@media (max-width: 1199px) {
  .nav-container {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav-container {
    min-width: 300px;
    width: 400px;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    text-align: left;
    top: 0;
    background-color: #f8f8f8;
    border-radius: 0px 5px 5px 0px;
    border: solid 1px lightgrey;
    border-top: none;
    border-left: none;
    overflow: hidden;
  }
}

#category-header {
  margin-top: 0;
}

@media (max-width: 1199px) {
  #category-hamburger-container {
    width: 100%;
    background-color: #f8f8f8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  #category-hamburger-container {
    display: none;
  }
}

.stickynav div {
  padding-left: 5px;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 50px;
  font-size: 1.8rem;
  display: block;
  transition: 0.3s;
  border-top: solid 1px lightgrey;
}

.stickynav a {
  text-decoration: none;
  transition: 0.3s;
}

.stickynav div:hover {
  background-color: #e6e6e6;
  padding-left: 10px;
}

.stickynav div:hover > a {
  color: black;
}

#category-hamburger-nav button {
  width: 100%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 35px;
  font-size: 1.5rem;
  display: block;
  transition: 0.3s;
  border: solid 1px lightgrey;
  border-top: none;
  text-decoration: none;
  &:hover {
    background-color: lightgrey;
    padding-left: 18px;
    color: black;
  }
}

.tab {
  color: black;
  width: 100%;
  text-align: left;
  font-size: 16px;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}
.selected-tab {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}

#category-hamburger-container button {
  color: gray;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #f8f8f8;
  border-bottom: solid 1px lightgrey;
  width: 100%;
}

#category-hamburger-container button:hover {
  cursor: pointer;
  color: black;
}

#searchText {
  width: 25%;
  margin-bottom: 10px;
  margin-right: 10px
}

.title-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.title-container img {
  min-height: 100px;
  min-width: 100px;
  max-height: 10%;
  max-width: 10%;
}

.title-description {
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  padding-left: 5%;
  width: 700px;
}

.orgAvatar {
  object-fit: contain;
}

@media (max-width: 767px) {
  .title-description {
    text-align: center;
  }
  .title-description h2 {
    font-size: 1.3em;
  }
  .page-title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .text-description {
    text-align: left;
  }

  .page-title {
    font-size: 20px;
  }
}

.twitterFeed {
  order: 2;
  margin-left: 2em;
  margin-bottom: 2em;
}

.twitterFeed-mobile {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.twitter-title {
  font-weight: bold;
  text-align: center;
}

.tweet-border {
  border-left: solid lightgrey 1px;
  border-bottom: solid lightgrey 1px;
  padding-left: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .twitterFeed {
    display: none;
  }
}

@media (min-width: 768px) {
  .twitterFeed-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 988px) {
  .twitterFeed {
    width: 280px;
  }
}

@media (min-width: 989px) {
  .twitterFeed {
    width: 330px;
  }
}

blockquote {
  font-size: 14px;
}

/* news */
.news-archive-link {
  background-color: #007833;
  color: #fff;
  text-decoration: none !important;
}

/* footer */
.footer-top-banner {
  background: $primary-color;
  padding: 0.5rem 0;
  /* Centers everything in the banner. */
  text-align: center;
}
.footer-top-banner a {
  color: #ffffff;
}
.footer-banner-wrapper {
  padding: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  vertical-align: middle;
}
.contact-us {
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  font-family: sans-serif;
}
.newsdesk-social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.svg-inline--fa {
  height: 2.8em;
  padding: 0.2em;
  fill: white;
}
.footer-bottom-banner a {
  color: #007833;
}
#site-links {
  text-decoration: none;
}
#site-links ul {
  list-style: none;
  text-align: center;
}
#site-links ul li {
  display: inline-block;
  padding: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
}

@media print {
  .navbar-search,
  .navbar .nav,
  .btn,
  noscript {
    display: none;
  }
  th a {
    color: #000;
  }
  a[href]:after {
    content: '';
  }
}
