---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    <div id="category-hamburger-container" class="catalog-list-only hidden">
      <button id="category-hamburger-btn" class="fa fa-bars fa-2x"></button>
      <div id="category-hamburger-nav" class="hidden">
        <noscript>&nbsp;</noscript>
      </div>
    </div>
    <main class="main">
      <div class="nav-container-list catalog-list-only hidden">
        <nav id="category-nav" class="stickynav">
          <noscript>&nbsp;</noscript>
        </nav>
      </div>
      
      <div class="nav-container-single catalog-single-only hidden">
        <button id="category-list-btn" class="btn btn-primary nav-button">Back to Category List</button>
      </div>

      <div class="wrapper catalog-list-only hidden">
        <div id="category-header" class="title-container page-header">
          <noscript>You need Javascript enabled to view this page.</noscript>
        </div>
        <div class="flex-container">
          <input
            id="searchText"
            type="text"
            autofocus
            placeholder="Filter Repositories"
          />
          <p>
            Sort By:
            <select id="orderProp">
              <option value="-stars">Stars</option>
              <option value="-forks">Forks</option>
              <option value="name">Name</option>
              <option value="owner">Org</option>
            </select>
          </p>
        </div>
        <section id="repositories" class="catalog-grid">
          <noscript>&nbsp;</noscript>
        </section>
      </div>

      <div class="wrapper catalog-single-only hidden">
        <section id="catalog-repo-single">
          <noscript>&nbsp;</noscript>
        </section>
      </div>
    </main>
    <!-- prettier-ignore -->
    {% include footer.html %}
    <!-- prettier-ignore -->
    {% include scripts.html %}
    <script src="{{'js/utils.js' | relative_url}}"></script>
    <script src="{{ 'js/catalog.js' | relative_url}}"></script>
  </body>
</html>
