<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/repostyle.css" />
    <link rel="stylesheet" type="text/css" href="/css/graphstyle.css" />
  </head>

  <body ng-controller="repoDataController">
    <!-- prettier-ignore -->
    {% include header.html %}

    <main class="container">{{ content }}</main>

    <!-- prettier-ignore -->
    {% include footer.html %}

    <!-- prettier-ignore -->
    {% include scripts.html %}
  </body>
</html>
