---
layout: compress
---

<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/repostyle.css" />
    <link rel="stylesheet" type="text/css" href="/css/graphstyle.css" />
  </head>

  <body ng-controller="repoDataController">
    <!-- prettier-ignore -->
    {% include header.html %}

    <main class="container ng-cloak">{{ content }}</main>

    <!-- prettier-ignore -->
    {% include footer.html %}

    <!-- prettier-ignore -->
    {% include scripts.html %}
    <!-- Load basic D3 and helper scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.16.0/d3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../static/d3-tip/1.0/d3-tip.js"></script>
    <script type="text/javascript" src="../static/d3-v4-cloud/1.2.2/build/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="../js/explore/helpers.js"></script>

    <!-- Load drawing JS -->
    <script type="text/javascript" src="../js/explore/line_repoActivity.js"></script>
    <script type="text/javascript" src="../js/explore/pie_repoUsers.js"></script>
    <script type="text/javascript" src="../js/explore/pie_repoPulls.js"></script>
    <script type="text/javascript" src="../js/explore/pie_repoIssues.js"></script>
    <script type="text/javascript" src="../js/explore/line_repoCreationHistory.js"></script>
    <script type="text/javascript" src="../js/explore/pie_language.js"></script>
    <script type="text/javascript" src="../js/explore/cloud_topics.js"></script>
    <script type="text/javascript" src="../js/explore/line_repoStarHistory.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="../js/repo/repo-dynamic.js"></script>
  </body>
</html>
